:root {
--bg-color: black;
--page-spacing: 50px;
--bar-spacing: 10px;
--bar-color: green;
}

/*------------------TITLES & BODY------------------*/


h1 {
	text-align: center;
	color: white;
	font-family: 'Major Mono Display', monospace;
}

body {
	background-color: black;
}


/*--------------------NAVIGATION------------------*/
.NavBar {
	display: flex;
	justify-content: space-around;
}

.NavBtn {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
	max-height: 50px;
	align-self: center;
}

.NavBtn:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}

.NavBtn:active {
	position:relative;
	top:1px;
}



/*------------------BAR GRAPH------------------*/

.StateCheckboxContainer {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 5px;
    align-items: center;
    text-transform: uppercase;
    color: white;
    margin: 10px;
}

.checkboxItem {

}


#graphContainer {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 25px;
	height: 400px;
	background-color: var(--bg-color);
	margin-left: var(--page-spacing);
	margin-right: var(--page-spacing);
	align-items: end;
	justify-content: space-around;
	border-left: 10px solid purple;
	border-bottom: 10px solid purple;
	background-image: url("../img/starry-sky.jpg");
}

.Bar {
	grid-row: 1 / span 5;
	box-sizing: border-box;
	padding: var(--bar-spacing);
	margin-left: var(--bar-spacing);
	margin-right: var(--bar-spacing);
	max-height: 400px;
	background-color: var(--bar-color);
	text-align: center;
	color: black;
	font-family: 'Space Mono', monospace;
	transition-duration: 0.4s; 
}

.Bar:hover {
	filter: contrast(1.75);
	transform: perspective(600px) translate3d(0, 0, 10px);
}

